<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Show Off Your Web</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    <h2>Show Off Your Site</h2>
                    <h4>Make your web client demo online in one click</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"></div>
                    </div>
                    <input id="ownerEmailInput" type="text" placeholder="Your Email" style="width:60%"/>
                    <br><br>
                    <div  id="emailMustBeFilledMsg" class="alert alert-danger">
                        You must fill your email in order to get the link of your site
                    </div>
                    <div id="successMsg" class="alert alert-success" >Your Site link Email has been sent Your site is available for 7 days </div>
                    <button class="btn btn-lg upload-btn" type="button">Upload Site (Zipped)</button>
                    <br><br>

                    <div  id="fileSizeToBigMsg" class="alert alert-danger">
                        Zip size should be less than 100 Mb - if you want to upload bigger site please contact us
                    </div>
                    <br><br>
                    <a class="alert-link" href="mailto:showoffweb@gmail.com">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="upload-input" type="file" name="uploads[]" accept="application/zip,application/x-zip,application/x-zip-compressed|Zip Files" /></br>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/upload.js"></script>
</body>
</html>